<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("templates/header") %>
</head>
<body>
    <div class="container">
        <header>
            <!-- Espacio para el encabezado -->
        </header>
        
        </div>
        <footer>
            <%- include("templates/footer") %>
        </footer>
    </div>
</body>
</html>